<div class='settings__form-wialon'>
  <div class='settings__triangle'></div>
  <div class='settings__form-title'>
    Enter the necessary information to log in to
    <span>
      {{systemName}}
    </span>
    <br />
    with host:
    <span>
      {{host}}
    </span>
  </div>
  <input type='hidden' name='systemName' value='{{systemName}}' />
  <iframe id='iframe' src={{src}} class='iframe'></iframe>
</div>